{% extends 'main/base.html' %}
{% block content %}
<h1>Добро пожаловать!!!</h1>
<form action="{% url 'app_vladislav_yurenya:filter_tag_post' %}" method="GET">
{% for i in object_list.unique %}
        <button name = "hz" value="{{ i.car_brand }}" class="glow-on-hover" type="submit">{{i.car_brand}}</button>
<br><br>
{% endfor %}</form>
<h1>Список всех объявлений</h1>
<form action="{% url 'app_vladislav_yurenya:all_post' %}" method="GET">
    <input name="search">
    <button class="glow-on-hover" type="submit">Поиск</button>
</form><br>
{% if user.is_authenticated %}
<a href="{% url 'app_vladislav_yurenya:profile' %}">
        <button class="glow-on-hover" type="submit">Профиль</button>
    </a><br><br>
<a href="{% url 'app_vladislav_yurenya:logout' %}">
        <button class="glow-on-hover" type="submit">Выход</button>
    </a><br><br>
<a href="{% url 'app_vladislav_yurenya:create_post' %}">
        <button class="glow-on-hover" type="submit">Добавить</button>
    </a><br><br>
<a href="{% url 'app_vladislav_yurenya:my_post_list' %}">
        <button class="glow-on-hover" type="submit">Мои объявления</button>
    </a>
<hr>
{% else %}
<a href="{% url 'app_vladislav_yurenya:enter' %}">
        <button class="glow-on-hover" type="submit">Вход</button>
    </a><br><br>
<a href="{% url 'app_vladislav_yurenya:register' %}">
        <button class="glow-on-hover" type="submit">Добавить</button>
    </a>
<hr>
{% endif %}
{% for i in object_list.posts %}
<ul>
    <p>Дата публикации: {{ i.time_create }}</p>
    <h1>{{ i.car_brand }}</h1>
    <p>Стоимость: {{ i.cost }}$</p>
    <p>Год выпуска: {{ i.year }}</p>
    <p><img class="img-article-left thumb" src="{{ i.photo.url }}" width="360px" ></p>
    <a href="{% url 'app_vladislav_yurenya:detail' i.pk%}">
        <button class="glow-on-hover" type="submit">Подробнее</button>
    </a><hr>
</ul>

{% endfor %}
{% endblock %}
