{% extends 'main/base.html' %}
{% block content %}
{% if user.id == object.key_id %}
<h1>Ваше объявление</h1>
{% else %}
<h1>Подробности объявления</h1>
{% endif %}
<ul>
    <h2>Марка авто: {{ object.car_brand }}</h2>
    <h2>Модель авто: {{ object.car_model }}</h2>
    <p>Стоимость : {{ object.cost }}$</p>
    <p>Год выпуска: {{ object.year }}</p>
    <p><img class="img-article-left thumb" src="{{ object.photo.url }}" width="360px" ></p>
    <p>Описание: {{ object.content }}</p>
    <p>Продажа в городе: {{ object.city }}</p>
    <h2>Имя владельца: {{ object.name_user }}</h2>
    <h2>Номер телефона: <a href="tel:{{ object.number_user }}">{{ object.number_user }}</a></h2>
</ul>
<hr>
<a href="{% url 'app_vladislav_yurenya:all_post' %}">
        <button class="glow-on-hover" type="submit">Все записи</button>
    </a><br><br>
{% if user.id == post.key_id %}
<a href="{% url 'app_vladislav_yurenya:update' object.pk %}">
        <button class="glow-on-hover" type="submit">Изменить</button>
    </a><br><br>
<a href="{% url 'app_vladislav_yurenya:delete' object.pk %}">
        <button class="glow-on-hover" type="submit">Удалить</button>
    </a>
{% endif %}

{% endblock %}
